body {
    font-family: 'Roboto', sans-serif;
}
header nav {
    display: flex;
    justify-content: right;
}
.navigation {
    display: flex;
    height: 30px;
}
.navigation__item {
   list-style: none;
   padding-right: 15px;
}
.navigation__item--link {
    text-decoration: none;
    color:#000000;
    font-style: normal;
    font-size: 13px;
}
.navigation__item--link:hover {
    text-decoration: underline;
}
.navigation__profil {
    width: 30px;
    border-radius: 50%;
    margin-top: -6px;
    border: 2px solid white;
}
.navigation__profil:hover 
{
    border-color: lightgray;
}
.navigation__google-apps 
{
    margin-top:-4px;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid white; 
}
.navigation__google-apps:hover
{
    background-color: lightgray;
    border-color: lightgray;
}
.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content__logo {
    margin:auto;
}
.content__form {
    margin: auto;
}
.content__google-search {
    display: flex;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 60px;
    height: 40px;
    border: 1px solid lightgray;

}
.content__google-search--input {
    border: none;
    width: 300px;
    height: 30px;
    margin: auto;
}
.content__google-search--input:focus {
    border-style: none;
    border: none;
}
.content__google-search--loupe {
    height: 30px;
    margin:auto;
    margin-left:8px;
}
.content__google-search--microphone {
    height: 18px;
    margin:auto;
    margin-right:15px;
}
/* responsive design */
@media screen and (min-width : 700px) {
    .content__google-search--input {
        width: 500px;
    }
}